<style></style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>


<div class="b-data__bg" style="background-image: url('https://interaktivni.rozhlas.cz/brexit/media/cover.jpg');"><span style="position: absolute; right: 10px; bottom: 10px; font-size: 12px; color:white;"><i>Foto <a href='#'>ČTK</a></i></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Data: Zákaz kouření postihne až třetinu Čechů. Na jednoho připadají dva tisíce cigaret ročně</strong><br>
		<small>Podle nejnovějších průzkumů kouří v Česku přes třicet procent lidí, nejčastěji mezi patnácti a čtyřiadvaceti lety. Podíl kuřáků za posledních 15 let klesl jen nepatrně.</small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>31. května 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Dnes, na Světový den bez tabáku, začíná platit takzvaný protikuřácký zákon, který zakazuje kouření mimo jiné ve všech restauracích a kavárnách. Dotkne se více než třech miliónů českých kuřáků a kuřaček. Podle dat ze zemí, které už kouření ve veřejném prostoru omezily v minulosti, to však jejich spotřebu cigaret nejspíš neomezí.</p>
<div id="rada1"></div>

<p>Vyplývá to z <a href="http://www.ceskatelevize.cz/ct24/ekonomika/2116425-az-zacne-platit-zakaz-koureni-trh-s-cigaretami-se-propadne-ale-kuraci-se-vrati">průzkumu agentury Euromonitor</a>, podle kterého se sice počet prodaných cigaret v roce zákazu kouření v restauracích ve většině zemí snížil, do dvou let se ale vrátil k původnímu vývoji. Patří mezi ně Irsko, Francie nebo Španělsko.</p>
<p>V Česku se i přes postupnou změnu společenské atmosféry celkový počet kuřáků mění jen málo. Mezi lety 2000 a 2015 se počet kuřáků zmenšil asi o pět procent, kuřaček pak o tři procenta.</p>
<div id="rada2"></div>

<p>Roční počet vykouřených cigaret se v roce 2015 oproti předchozím letům dokonce mírně zvýšil. Na každého Čecha připadlo předloni 2010 cigaret, tedy přes sto běžných krabiček ročně a asi pět a půl cigarety každý den. Číslo navyšuje vysoký počet denně kouřících Čechů - těch je téměř 23 procent. </p>
<div id="pocet"></div>

<p>Mezi českými kuřáky jsou nejsilnější mladší ročníky. Ve věkové skupině 15 až 24 let kouří přes 35 procent lidí. S rostoucím věkem pak podíl klesá, ve věku nad 65 let kouří jen zhruba každý desátý Čech.</p>
<div id="vek"></div>

</div>
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('rada1',{chart:{type:'line'},title:{text:'Příležitostní a každodenní kuřáci'},subtitle:{text:'zdroj: <a href="http://www.who.int/gho/tobacco/use/en/">odhad WHO</a>'},credits:{enabled:false},xAxis:{categories:['2000','2005','2010','2015']},yAxis:{title:{text:'Podíl kuřáků'},labels:{formatter:function(){return this.value+" %";}}},plotOptions:{line:{dataLabels:{enabled:true},enableMouseTracking:false}},series:[{name:'kuřáci celkem',data:[33.8,32.7,31.8,30.8]},{name:'každodenní kuřáci',data:[25.2,24.3,23.6,22.9]}]});Highcharts.chart('rada2',{chart:{type:'line'},title:{text:'Muži a ženy mezi kuřáky'},subtitle:{text:'zdroj: <a href="http://www.who.int/gho/tobacco/use/en/">odhad WHO</a>'},credits:{enabled:false},xAxis:{categories:['2000','2005','2010','2015']},yAxis:{title:{text:'Podíl kuřáků'},labels:{formatter:function(){return this.value+" %";}}},plotOptions:{line:{dataLabels:{enabled:true},enableMouseTracking:false}},series:[{name:'muži',data:[40.3,38.8,37.4,35.9]},{name:'ženy',data:[33.8,32.7,31.8,30.8]}]});Highcharts.chart('pocet',{chart:{type:'bar'},title:{text:'Počet vykouřených cigaret'},credits:{enabled:false},subtitle:{text:'Roční průměr na jednoho Čecha'},xAxis:{categories:['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'],crosshair:true},yAxis:{min:0,},plotOptions:{bar:{pointPadding:0.05,borderWidth:0,enableMouseTracking:false,dataLabels:{enabled:true}}},legend:{enabled:false},series:[{name:'Cigarety',data:[1663,1893,2192,2243,2275,2338,2345,2107,2071,2028,1988,1947,1904,1950,2010]}]});Highcharts.chart('vek',{chart:{type:'column'},title:{text:'Kuřáci podle věku'},credits:{enabled:false},subtitle:{text:'zdroj: <a href="http://www.szu.cz/uploads/documents/czzp/zavislosti/Uzivani_tabaku_2015.pdf">Státní zdravotnický ústav</a>'},xAxis:{categories:['15-24','25-44','45-64','65+'],crosshair:true},yAxis:{min:0,title:{text:'Podíl kuřáků',},labels:{formatter:function(){return this.value+" %";}}},plotOptions:{column:{pointPadding:0.05,borderWidth:0,enableMouseTracking:false,dataLabels:{enabled:true}}},legend:{enabled:false},series:[{name:'Cigarety',data:[35.3,27.4,23.1,11.8]}]});Highcharts.chart('vzdelani',{chart:{type:'column'},title:{text:'Kuřáci podle vzdělání'},credits:{enabled:false},subtitle:{text:'zdroj: <a href="http://www.szu.cz/uploads/documents/czzp/zavislosti/Uzivani_tabaku_2015.pdf">Státní zdravotnický ústav</a>'},xAxis:{categories:['ZŠ a SOU','SŠ s maturitou','VŠ'],crosshair:true},yAxis:{min:0,title:{text:'Podíl kuřáků',},labels:{formatter:function(){return this.value+" %";}}},plotOptions:{column:{pointPadding:0.05,borderWidth:0,enableMouseTracking:false,dataLabels:{enabled:true}}},legend:{enabled:false},series:[{name:'Cigarety',data:[24.2,24.3,14.3]}]});</script>
